/data/
**/__pycache__/
MSH.zip
.vscode/
output/
checkpoints/
results/
results_modified/
outputs/
multirun/
wandb/
*.log
plots/
instances/
instances_modified/
gurobi_lib/
vit_explain/
sweep_id*
costs/
arcsCustom/